*********************Feedback**************************
Bug:
1. why the changes or new added items are missing when the application is restarted?

Code Review:
1. please search with 'RYAN:' to get all the comments

*********************Requirements**********************
1. Don't need the Edit page, we want to directly edit the item in the list.
2. Don't need the detail page, just show everything in the overview list is enough.
3. Don't need the Delete page, just show a message box to let user confirm the delete in the same page.
4. Don't need the Create page, just add a new line in the list and then save.
[Imagine how Excel works for above requirements, complete this before May.14]

5. Change the Date Time format to short date (not display the hour\minute\second)
6. View the meeting minutes items by the filter, not by search (e.g. by Issue Date, Status, responsible member)
7. Unit test is required for all features.
[complete before May.21]

8. Add validator for the input 
- the Issue Date should be time format, 
- Content string should not be longer than 200 characters
- Responsible Member string cannot be empty and should not be longer than 20 characters
9.Add user management.
Admin: who can access all the functionality(add\remove\edit)
Guest: who can only view the list, not add\remove\edit
10. some other advanced requirements? push from backend to frontend???
[complete before May.28]