@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h3>Meeting Minutes System</h3>
    <p2 class="lead">Meeting minutes system is the tool for team meeting.For more information, please contact the author!</p2>
    <p><a href="../MinutesModels/Index">Meeting Minutes System</a></p>
</div>
